* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  border: 1px solid #303030;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.square {
  border: 1px solid #abb4c5;
  border-spacing: 0px;
  transition: opacity 0.5s;
  background-color: rgb(255, 255, 255);
  transition: background-color 2s ease 0s;
}
.square-black {
  background-color: #303030;
  border: 1px solid rgb(223, 227, 236);
}

.square:hover {
  background-color: #303030;
}

#button {
  margin-bottom: 30px;
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 14px;
  background-color: #fff;
  cursor: auto;
}
